@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);

.step-0 .panel-body {
  text-align: center;
}

.preview-box {
  display: inline-block;
  display: none;
}

/* Page headers , copied from bootstrap homepage */
.mozart-header {
  padding: 25px 15px 40px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  color: #AD926D;
  background-image: -ms-linear-gradient(top left, #6E3300 0%, #000000 100%);
  background-image: -moz-linear-gradient(top left, #6E3300 0%, #000000 100%);
  background-image: -webkit-linear-gradient(top left, #6E3300 0%, #000000 100%);
  background-image: linear-gradient(to bottom right, #6E3300 0%, #000000 100%);;
}

.mozart-header h1 {
  font-family: 'IM Fell English SC', serif;
  color: #fff;
}

.mozart-header h1 > span {
  display: inline-block;
  background-image: url('../images/gclef-white.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position:5rem 2rem;
  width:10rem;
  height: 10rem;
  margin-bottom: -0.5rem;
}

.mozart-header p {
  font-family: 'IM Fell English SC', serif;
  font-weight: 300;
  line-height: 1.5;
}
.mozart-header .container {
  position: relative;
}

.navbar-brand {
  font-family: 'IM Fell English SC', serif;
}
.placeholder1 {
  height: 60px;
}
.placeholder2 {
  height: 10px;
}
@media (min-width: 768px) {
  .mozart-header {
    font-size: 21px;
    text-align: left;
  }
  .mozart-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .mozart-header h1,
  .mozart-header p {
    margin-right: 380px;
  }
}